@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/sop/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/sop/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/sop/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3B82F680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3B82F680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.visible {
    visibility: visible
}

.collapse {
    visibility: collapse
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-\[2px\] {
    margin-bottom: 2px
}

.ml-0 {
    margin-left: 0
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-6 {
    margin-right: 1.5rem
}

.mr-8 {
    margin-right: 2rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-\[80px\] {
    margin-top: 80px
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.table {
    display: table
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-12 {
    height: 3rem
}

.h-3 {
    height: .75rem
}

.h-5 {
    height: 1.25rem
}

.w-14 {
    width: 3.5rem
}

.w-8 {
    width: 2rem
}

.w-\[10\%\] {
    width: 10%
}

.w-\[11\%\] {
    width: 11%
}

.w-\[12\%\] {
    width: 12%
}

.w-\[13\%\] {
    width: 13%
}

.w-\[130px\] {
    width: 130px
}

.w-\[14\%\] {
    width: 14%
}

.w-\[16\%\] {
    width: 16%
}

.w-\[20\%\] {
    width: 20%
}

.w-\[21\%\] {
    width: 21%
}

.w-\[22\%\] {
    width: 22%
}

.w-\[25\%\] {
    width: 25%
}

.w-\[27\%\] {
    width: 27%
}

.w-\[30\%\] {
    width: 30%
}

.w-\[32\%\] {
    width: 32%
}

.w-\[34\%\] {
    width: 34%
}

.w-\[35\%\] {
    width: 35%
}

.w-\[37\%\] {
    width: 37%
}

.w-\[38\%\] {
    width: 38%
}

.w-\[40px\] {
    width: 40px
}

.w-\[50px\] {
    width: 50px
}

.w-\[60\%\] {
    width: 60%
}

.w-\[65\%\] {
    width: 65%
}

.w-\[66\%\] {
    width: 66%
}

.w-\[68\%\] {
    width: 68%
}

.w-\[7\%\] {
    width: 7%
}

.w-\[70\%\] {
    width: 70%
}

.w-\[80px\] {
    width: 80px
}

.w-\[90\%\] {
    width: 90%
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.flex-1 {
    flex: 1 1 0%
}

.flex-none {
    flex: none
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-between {
    justify-content: space-between
}

.space-x-10>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.border {
    border-width: 1px
}

.border-l-0 {
    border-left-width: 0px
}

.border-solid {
    border-style: solid
}

.border-\[\#6599D1\] {
    --tw-border-opacity: 1;
    border-color: #6599D1;
}

.bg-\[\#3C73B2\] {
    --tw-bg-opacity: 1;
    background-color: #3C73B2;
}

.bg-\[\#E6E7E9\] {
    --tw-bg-opacity: 1;
    background-color: #E6E7E9;
}

.bg-\[\#EFF5FB\] {
    --tw-bg-opacity: 1;
    background-color: #EFF5FB;
}

.bg-\[\#FEC210\] {
    --tw-bg-opacity: 1;
    background-color: #FEC210;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: #000000;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-\[3px\] {
    padding-top: 3px;
    padding-bottom: 3px
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pl-2 {
    padding-left: .5rem
}

.pl-4 {
    padding-left: 1rem
}

.pr-2 {
    padding-right: .5rem
}

.pr-3 {
    padding-right: .75rem
}

.pt-1 {
    padding-top: .25rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-80 {
    padding-top: 20rem
}

.pt-\[3px\] {
    padding-top: 3px
}

.indent-1 {
    text-indent: .25rem
}

.indent-2 {
    text-indent: .5rem
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[7px\] {
    font-size: 7px
}

.text-\[9px\] {
    font-size: 9px
}

.leading-\[18px\] {
    line-height: 18px
}

.leading-\[20px\] {
    line-height: 20px
}

.leading-\[24px\] {
    line-height: 24px
}

.text-white {
    --tw-text-opacity: 1;
    color: #FFFFFF
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

@media print {
    @page {
        size: 210mm 297mm
    }
}

body {
    font-family: Roboto;
    font-size: 11px;
    --tw-text-opacity: 1;
    color: #000000
}

table {
    margin-bottom: .25rem;
    width: 100%
}

table,
th,
td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #808080;
    padding: .25rem .75rem
}

table th {
    --tw-bg-opacity: 1;
    background-color: #D9D9D9;
    vertical-align: top;
    font-weight: 400
}

input {
    margin-left: .5rem;
    border-bottom-width: 1px;
    border-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px
}

input:focus {
    --tw-border-opacity: 1;
    border-color: #3B82F6;
}

textarea {
    margin-left: .5rem;
    border-width: 1px;
    border-color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: 2px solid transparent;
    outline-offset: 2px
}

textarea:focus {
    --tw-border-opacity: 1;
    border-color: #3B82F6;
}

.page-anz__wrapper {
    --tw-bg-opacity: 1;
    background-color: #F3F4F6;
    font-family: Roboto
}

.page-anz {
    width: 100%
}

@media (min-width: 640px) {
    .page-anz {
        max-width: 640px
    }
}

@media (min-width: 900px) {
    .page-anz {
        max-width: 900px
    }
}

@media (min-width: 1024px) {
    .page-anz {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .page-anz {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .page-anz {
        max-width: 1536px
    }
}

.page-anz {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    -moz-column-break-before: page;
    break-before: page;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    padding: 2rem 2rem 1.5rem
}

.page-anz__header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.page-anz__title-col {
    width: 75%;
    flex: none
}

.page-anz__logo {
    width: 25%;
    flex: none
}

.page-anz__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700
}

.page-anz__subtitle {
    margin-bottom: 1.5rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700
}

.text-heading-4 {
    margin-bottom: .75rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700
}

.page-anz__form-input {
    margin-bottom: .5rem;
    display: flex;
    align-items: flex-end
}

.page-anz__form-checkbox {
    margin-bottom: .5rem;
    display: flex
}

.anz-form__label-sm {
    width: 26%;
    flex: none
}

.anz-form__label-md {
    width: 37%;
    flex: none
}

.anz-form__input {
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #000000;
    font-size: .75rem;
    line-height: 1rem
}

.anz-form__input-dashed {
    margin-left: 0;
    width: 100%;
    border-bottom-width: 1px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: #000000;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    text-indent: .5rem;
    font-size: .75rem;
    line-height: 1rem
}

.anz-input__col-2 {
    height: 1.25rem;
    width: 2.5rem;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 15px
}

.anz-input__col-2::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-2::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-4 {
    height: 1.25rem;
    width: 80px;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-input__col-4::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-4::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-5 {
    height: 1.25rem;
    width: 100px;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-input__col-5::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-5::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-8 {
    height: 1.25rem;
    width: 160px;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-input__col-8::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-8::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-input__col-box {
    position: relative;
    margin-right: .5rem
}

.anz-input__box-dashed {
    padding-right: 1rem
}

.anz-input-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 1.25rem;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #000000;
}

.anz-input-box-1 {
    left: 0
}

.anz-input-box-2 {
    left: 1.25rem
}

.anz-input-box-3 {
    left: 2.5rem
}

.anz-input-box-4 {
    left: 60px
}

.anz-input-box-5 {
    left: 80px
}

.anz-input-box-6 {
    left: 100px
}

.anz-input-box-7 {
    left: 120px
}

.anz-input-box-8 {
    left: 140px
}

.anz-input-box-9 {
    left: 160px
}

.anz-page__5-col {
    margin-bottom: 2rem;
    display: flex;
    padding-top: 2rem
}

.anz-page__2-span {
    width: 40%;
    flex: none
}

.anz-page__3-span {
    width: 60%;
    flex: none
}

.anz-input__checkbox-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.anz-input__checkbox-group {
    margin-bottom: .25rem;
    padding-right: .5rem
}

.anz-input__checkbox-label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 1.25rem;
    font-size: .75rem;
    line-height: 1rem
}

.anz-input__checkbox-input {
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    opacity: 0
}

.anz-input__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #000000;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-size: .75rem;
    line-height: 1rem
}

.anz-input__checkmark:after {
    position: absolute;
    left: 4px;
    top: 1px;
    display: none;
    height: 10px;
    width: 5px;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #FFFFFF;
    --tw-content: "";
    content: var(--tw-content)
}

.anz-input__checkbox-input:checked~.anz-input__checkmark {
    --tw-border-opacity: 1;
    border-color: #60A5FA;
    --tw-bg-opacity: 1;
    background-color: #60A5FA;
}

.anz-input__checkbox-input:checked~.anz-input__checkmark:after {
    content: var(--tw-content);
    display: block
}

.box-item-end {
    display: flex;
    align-items: flex-end
}

.items__end {
    align-items: flex-end
}

.box__flex {
    display: flex
}

.flex__1 {
    flex: 1 1 0%
}

.box__inline-flex {
    display: inline-flex
}

.box-between {
    justify-content: space-between
}

.box-cols-4 {
    display: flex
}

.box-col-2-4 {
    width: 50%;
    flex: none
}

.box-col-3-4 {
    width: 75%;
    flex: none
}

.box-col-1-4 {
    width: 25%;
    flex: none
}

.box-cols-5 {
    display: flex
}

.box-col-3-5 {
    width: 40%;
    flex: none
}

.box-col-1-5 {
    width: 30%;
    flex: none
}

.box-inline {
    display: inline-block
}

.anz-box__input-dashed {
    width: 100%;
    border-bottom-width: 1px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: #000000;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    text-indent: .5rem;
    font-size: .75rem;
    line-height: 1rem
}

.box__20 {
    width: 20%;
    flex: none
}

.box__54 {
    width: 54%;
    flex: none
}

.box__13 {
    width: 13%;
    flex: none
}

.pt__1 {
    padding-top: .25rem
}

.pt__2 {
    padding-top: .5rem
}

.pt__3 {
    padding-top: .75rem
}

.pt__4 {
    padding-top: 1rem
}

.pt__6 {
    padding-top: 1.5rem
}

.pt__8 {
    padding-top: 2rem
}

.pb__2 {
    padding-bottom: .5rem
}

.pb__3 {
    padding-bottom: .75rem
}

.pb__4 {
    padding-bottom: 1rem
}

.pb__6 {
    padding-bottom: 1.5rem
}

.pr__1 {
    padding-right: .25rem
}

.pr__2 {
    padding-right: .5rem
}

.pr__3 {
    padding-right: .75rem
}

.pr__4 {
    padding-right: 1rem
}

.pr__6 {
    padding-right: 1.5rem
}

.pr__7 {
    padding-right: 1.75rem
}

.pl__1 {
    padding-left: .25rem
}

.pl__3 {
    padding-left: .75rem
}

.pl__4 {
    padding-left: 1rem
}

.pl__5 {
    padding-left: 1.25rem
}

.mt__3 {
    margin-top: .75rem
}

.mb__1 {
    margin-bottom: .25rem
}

.mb__2 {
    margin-bottom: .5rem
}

.mr__1 {
    margin-right: .25rem
}

.mr__2 {
    margin-right: .5rem
}

.mr__6 {
    margin-right: 1.5rem
}

.border__t {
    border-top-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #000000;
}

.border__b {
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #000000;
}

.list__disc {
    list-style-type: disc
}

.list__disc>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.list__disc {
    padding-left: 1rem
}

.list__num {
    list-style-type: decimal
}

.list__num>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.list__num {
    padding-left: 1rem
}

.page-anz-nl__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500
}

.page-anz__cols-2,
.page-anz__cols-5,
.page-anz__cols-10 {
    display: flex
}

.page-anz__col-1\/2 {
    width: 50%;
    flex: none
}

.page-anz__col-2\/5 {
    width: 40%;
    flex: none
}

.page-anz__col-3\/5 {
    width: 60%;
    flex: none
}

.page-anz__col-2\/10 {
    width: 20%;
    flex: none
}

.page-anz__col-3\/10 {
    width: 30%;
    flex: none
}

.page-anz__col-4\/10 {
    width: 40%;
    flex: none
}

.page-anz__col-6\/10 {
    width: 60%;
    flex: none
}

.page-anz__col-7\/10 {
    width: 70%;
    flex: none
}

.page-anz__heading-4 {
    font-weight: 700
}

.anz-hl-input__col-2 {
    height: 1.25rem;
    width: 2.5rem;
    flex: none;
    padding-left: 6px;
    letter-spacing: 15px
}

.anz-hl-input__col-2::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-2::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-3 {
    height: 1.25rem;
    width: 60px;
    flex: none;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-hl-input__col-3::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-3::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-4 {
    height: 1.25rem;
    width: 80px;
    flex: none;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-hl-input__col-4::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-4::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-10 {
    height: 1.25rem;
    width: 200px;
    flex: none;
    padding-left: 6px;
    letter-spacing: 13px
}

.anz-hl-input__col-10::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-input__col-10::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.anz-hl-form__input-dashed {
    margin-left: 0;
    width: 100%;
    border-bottom-width: 1px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: #000000;
    font-size: .75rem;
    line-height: 1rem
}

.page-asb__wrapper {
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-family: Roboto
}

.page-asb {
    position: relative;
    -moz-column-break-before: page;
    break-after: page;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
}

.page-asb__container {
    width: 100%
}

@media (min-width: 640px) {
    .page-asb__container {
        max-width: 640px
    }
}

@media (min-width: 900px) {
    .page-asb__container {
        max-width: 900px
    }
}

@media (min-width: 1024px) {
    .page-asb__container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .page-asb__container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .page-asb__container {
        max-width: 1536px
    }
}

.page-asb__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px
}

.page-asb__header {
    margin-top: 2rem;
    --tw-bg-opacity: 1;
    background-color: #231f20;
    padding: .75rem 2rem .75rem 1rem
}

.page-asb__header-container {
    width: 100%
}

@media (min-width: 640px) {
    .page-asb__header-container {
        max-width: 640px
    }
}

@media (min-width: 900px) {
    .page-asb__header-container {
        max-width: 900px
    }
}

@media (min-width: 1024px) {
    .page-asb__header-container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .page-asb__header-container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .page-asb__header-container {
        max-width: 1536px
    }
}

.page-asb__header-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    padding-left: 1rem;
    padding-right: 1rem
}

.page-asb__cols-2 {
    display: flex
}

.page-asb__brand {
    display: flex;
    align-items: center
}

.page-asb__brand>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.page-asb__title {
    margin-bottom: .25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: #FFFFFF
}

.page-asb__title-2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: #FFFFFF
}

.page-asb__subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: #FEC210;
}

.page-asb__arrow-img {
    height: 32px
}

.page-asb__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem
}

.asb-input__col-box {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
}

.asb-input__checkbox-group {
    padding-right: .5rem
}

.asb-input__checkbox-label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 1.5rem;
    font-size: .75rem;
    line-height: 1rem;
    line-height: 18px
}

.asb-input__checkbox-input {
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    opacity: 0
}

.asb-input__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-size: .75rem;
    line-height: 1rem
}

.asb-input__checkmark:after {
    position: absolute;
    left: 6px;
    top: 2px;
    display: none;
    height: 10px;
    width: 5px;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #FFFFFF;
    --tw-content: "";
    content: var(--tw-content)
}

.asb-input__checkbox-input:checked~.asb-input__checkmark {
    --tw-border-opacity: 1;
    border-color: #60A5FA;
    --tw-bg-opacity: 1;
    background-color: #60A5FA;
}

.asb-input__checkbox-input:checked~.asb-input__checkmark:after {
    content: var(--tw-content);
    display: block
}

.asb-form__input {
    position: relative;
    z-index: 10;
    margin-left: 0;
    height: 1.5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    background-color: transparent;
    text-indent: .5rem;
    font-size: .75rem;
    line-height: 1rem
}

.asb-form__textarea {
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    text-indent: .5rem;
    font-size: .75rem;
    line-height: 1rem
}

.asb-form__input-noborder {
    height: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    text-indent: .25rem;
    font-size: .75rem;
    line-height: 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px
}

.asb-form__input-noborder:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.asb-form__input-full {
    width: 100%
}

.asb-input__col-1 {
    height: 1.5rem;
    width: 1.5rem;
    flex: none;
    text-indent: .25rem
}

.asb-input__col-1::-moz-placeholder {
    font-size: 10px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.asb-input__col-1::placeholder {
    font-size: 10px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.asb-input__col-28px {
    height: 1.5rem;
    width: 28px;
    flex: none;
    text-indent: .25rem
}

.asb-input__col-28px::-moz-placeholder {
    font-size: 10px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.asb-input__col-28px::placeholder {
    font-size: 10px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.asb-input__col-8 {
    height: 1.5rem;
    width: 192px;
    flex: none;
    text-indent: .5rem;
    letter-spacing: 17px
}

.asb-input__col-8::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 15px;
    --tw-text-opacity: 1;
    color: #D1D5DB;
}

.asb-input__col-8::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 15px;
    --tw-text-opacity: 1;
    color: #D1D5DB;
}

.asb-input__col-16 {
    height: 1.5rem;
    width: 384px;
    flex: none;
    text-indent: .5rem;
    letter-spacing: 17px
}

.asb-input__col-16::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 17px;
    --tw-text-opacity: 1;
    color: #4B5563;
}

.asb-input__col-16::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 17px;
    --tw-text-opacity: 1;
    color: #4B5563;
}

.page-asb__border {
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
}

.asb-input-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
}

.asb-input-box-1 {
    left: 0
}

.asb-input-box-2 {
    left: 24px
}

.asb-input-box-3 {
    left: 48px
}

.asb-input-box-4 {
    left: 72px
}

.asb-input-box-5 {
    left: 96px
}

.asb-input-box-6 {
    left: 120px
}

.asb-input-box-7 {
    left: 144px
}

.asb-input-box-8 {
    left: 168px
}

.asb-input-box-9 {
    left: 192px
}

.asb-input-box-10 {
    left: 216px
}

.asb-input-box-11 {
    left: 240px
}

.asb-input-box-12 {
    left: 264px
}

.asb-input-box-13 {
    left: 288px
}

.asb-input-box-14 {
    left: 312px
}

.asb-input-box-15 {
    left: 336px
}

.page-asb__cols-2,
.page-asb__cols-5,
.page-asb__cols-10 {
    display: flex
}

.page-asb__col-1\/2 {
    width: 50%;
    flex: none
}

.page-asb__col-2\/5 {
    width: 40%;
    flex: none
}

.page-asb__col-3\/5 {
    width: 60%;
    flex: none
}

.page-asb__col-2\/10 {
    width: 20%;
    flex: none
}

.page-asb__col-3\/10 {
    width: 30%;
    flex: none
}

.page-asb__col-4\/10 {
    width: 40%;
    flex: none
}

.page-asb__col-6\/10 {
    width: 60%;
    flex: none
}

.page-asb__col-7\/10 {
    width: 70%;
    flex: none
}

.page-asb__heading-4 {
    font-weight: 700
}

.asb-table {
    margin-bottom: 0;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
}

.asb-table,
.asb-table th,
.asb-table td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #9CA3AF;
    padding: .25rem .75rem
}

.asb-table th {
    --tw-bg-opacity: 1;
    background-color: #535455;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: #F1B80F;
}

.asb-table__even-bg {
    --tw-bg-opacity: 1;
    background-color: #E6E7E9;
    vertical-align: bottom;
}

.asb-table__bg-white {
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
}

.placeholder\:font-bold::-moz-placeholder {
    font-weight: 700
}

.placeholder\:font-bold::placeholder {
    font-weight: 700
}

.placeholder\:text-gray-600::-moz-placeholder {
    --tw-text-opacity: 1;
    color: #4B5563;
}

.placeholder\:text-gray-600::placeholder {
    --tw-text-opacity: 1;
    color: #4B5563;
}

.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}

.before\:-left-6:before {
    content: var(--tw-content);
    left: -1.5rem
}

.before\:bottom-0:before {
    content: var(--tw-content);
    bottom: 0
}

.before\:left-0:before {
    content: var(--tw-content);
    left: 0
}

.before\:top-0:before {
    content: var(--tw-content);
    top: 0
}

.before\:z-0:before {
    content: var(--tw-content);
    z-index: 0
}

.before\:h-\[10px\]:before {
    content: var(--tw-content);
    height: 10px
}

.before\:h-full:before {
    content: var(--tw-content);
    height: 100%
}

.before\:w-6:before {
    content: var(--tw-content);
    width: 1.5rem
}

.before\:w-full:before {
    content: var(--tw-content);
    width: 100%
}

.before\:border-t:before {
    content: var(--tw-content);
    border-top-width: 1px
}

.before\:border-solid:before {
    content: var(--tw-content);
    border-style: solid
}

.before\:border-\[\#6599D1\]:before {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: #6599D1;
}

.before\:bg-\[\#FEC210\]:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: #FEC210;
}

.before\:content-\[\'\'\]:before {
    --tw-content: "";
    content: var(--tw-content)
}

.after\:absolute:after {
    content: var(--tw-content);
    position: absolute
}

.after\:bottom-0:after {
    content: var(--tw-content);
    bottom: 0
}

.after\:left-0:after {
    content: var(--tw-content);
    left: 0
}

.after\:h-\[8px\]:after {
    content: var(--tw-content);
    height: 8px
}

.after\:w-\[40px\]:after {
    content: var(--tw-content);
    width: 40px
}

.after\:w-full:after {
    content: var(--tw-content);
    width: 100%
}

.after\:border-r:after {
    content: var(--tw-content);
    border-right-width: 1px
}

.after\:border-solid:after {
    content: var(--tw-content);
    border-style: solid
}

.after\:border-\[\#6599D1\]:after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: #6599D1;
}

.after\:content-\[\'\'\]:after {
    --tw-content: "";
    content: var(--tw-content)
}

.focus\:border-none:focus {
    border-style: none
}

.page-bnz__wrapper {
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-family: Roboto
}

.page-bnz {
    position: relative;
    -moz-column-break-before: page;
    break-before: page;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
}

.page-bnz__container {
    width: 100%
}

@media (min-width: 640px) {
    .page-bnz__container {
        max-width: 640px
    }
}

@media (min-width: 900px) {
    .page-bnz__container {
        max-width: 900px
    }
}

@media (min-width: 1024px) {
    .page-bnz__container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .page-bnz__container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .page-bnz__container {
        max-width: 1536px
    }
}

.page-bnz__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px
}

.page-bnz__header {
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 2rem
}

.page-bnz__cols-2 {
    display: flex
}

.col-between {
    justify-content: space-between
}

.col-end {
    justify-content: flex-end
}

.col-item-center {
    align-items: center
}

.col-item-end {
    align-items: flex-end
}

.page-bnz__brand {
    display: flex;
    align-items: center
}

.page-bnz__brand>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.page-bnz__title {
    margin-bottom: .25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    line-height: 1;
    --tw-text-opacity: 1;
    color: #002E6B;
}

.page-bnz__image {
    height: auto;
    width: 110px
}

.page-bnz__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem
}

.page-bnz__box {
    margin-bottom: .5rem;
    --tw-bg-opacity: 1;
    background-color: #EFF5FB;
    padding: .75rem
}

.page-bnz__section-title {
    margin-top: .5rem;
    --tw-bg-opacity: 1;
    background-color: #6599D1;
    padding: .5rem .75rem;
    --tw-text-opacity: 1;
    color: #FFFFFF
}

.bnz-input__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.bnz-input__checkbox-group {
    margin-bottom: .5rem;
    padding-right: .5rem
}

.bnz-input__checkbox-label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 1.5rem;
    font-size: .75rem;
    line-height: 1rem;
    line-height: 18px
}

.bnz-input__checkbox-input {
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    opacity: 0
}

.bnz-input__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-size: .75rem;
    line-height: 1rem
}

.bnz-input__checkmark:after {
    position: absolute;
    left: 6px;
    top: 2px;
    display: none;
    height: 10px;
    width: 5px;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #FFFFFF;
    --tw-content: "";
    content: var(--tw-content)
}

.bnz-input__checkbox-input:checked~.bnz-input__checkmark {
    --tw-border-opacity: 1;
    border-color: #60A5FA;
    --tw-bg-opacity: 1;
    background-color: #60A5FA;
}

.bnz-input__checkbox-input:checked~.bnz-input__checkmark:after {
    content: var(--tw-content);
    display: block
}

.bnz-input__check-group {
    display: flex
}

.bnz-input__check-label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-bottom: 1.25rem;
    font-size: .75rem;
    line-height: 1rem;
    line-height: 18px
}

.bnz-input__check-input {
    position: absolute;
    height: 0px;
    width: 0px;
    cursor: pointer;
    opacity: 0
}

.bnz-input__check {
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-size: .75rem;
    line-height: 1rem
}

.bnz-input__check-right {
    position: absolute;
    bottom: 1px;
    right: 0;
    height: 18px;
    width: 18px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6B7280;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    font-size: .75rem;
    line-height: 1rem
}

.bnz-input__check:after {
    position: absolute;
    left: 6px;
    top: 2px;
    display: none;
    height: 10px;
    width: 5px;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #FFFFFF;
    --tw-content: "";
    content: var(--tw-content)
}

.bnz-input__check-input:checked~.bnz-input__check {
    --tw-border-opacity: 1;
    border-color: #60A5FA;
    --tw-bg-opacity: 1;
    background-color: #60A5FA;
}

.bnz-input__check-input:checked~.bnz-input__check:after {
    content: var(--tw-content);
    display: block
}

.page-bnz__form-input {
    margin-bottom: .5rem;
    display: flex;
    align-items: flex-end
}

.bnz-input__col-box {
    position: relative;
    margin-right: .5rem
}

.bnz-form__input {
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
    font-size: .75rem;
    line-height: 1rem
}

.bnz-input__col-2 {
    height: 1.25rem;
    width: 2.5rem;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 15px
}

.bnz-input__col-2::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.bnz-input__col-2::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 9px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.bnz-input-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 1.25rem;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
}

.bnz-input-fullbox {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
}

.bnz-input-box-1 {
    left: 0
}

.bnz-input-box-2 {
    left: 1.25rem
}

.bnz-input-box-3 {
    left: 2.5rem
}

.bnz-input-box-4 {
    left: 60px
}

.bnz-input-box-5 {
    left: 80px
}

.bnz-input-box-6 {
    left: 100px
}

.bnz-input-box-7 {
    left: 120px
}

.bnz-input-box-8 {
    left: 140px
}

.bnz-input-box-9 {
    left: 160px
}

.bnz-input__col-4 {
    height: 1.25rem;
    width: 80px;
    flex: none;
    --tw-bg-opacity: 1;
    background-color: #F1F4FF;
    padding-left: 6px;
    letter-spacing: 13px
}

.bnz-input__col-4::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.bnz-input__col-4::placeholder {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 12px;
    --tw-text-opacity: 1;
    color: #9CA3AF;
}

.page-bnz__cols-2,
.page-bnz__cols-5,
.page-bnz__cols-10 {
    display: flex
}

.page-bnz__col-1\/2 {
    width: 50%;
    flex: none
}

.page-bnz__col-2\/5 {
    width: 40%;
    flex: none
}

.page-bnz__col-3\/5 {
    width: 60%;
    flex: none
}

.page-bnz__col-2\/10 {
    width: 20%;
    flex: none
}

.page-bnz__col-3\/10 {
    width: 30%;
    flex: none
}

.page-bnz__col-4\/10 {
    width: 40%;
    flex: none
}

.page-bnz__col-6\/10 {
    width: 60%;
    flex: none
}

.page-bnz__col-7\/10 {
    width: 70%;
    flex: none
}

.page-bnz__heading-3 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #02225B;
}

.page-bnz__heading-4 {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700
}

.bnz-box__input-wrapper {
    display: flex;
    height: 1.25rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
}

.bnz-input__label {
    position: relative;
    padding-left: .5rem;
    padding-right: .75rem;
    font-size: 9px;
    line-height: 20px
}

.bnz-input__label:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
    --tw-content: "";
    content: var(--tw-content)
}

.bnz-input__input {
    margin-left: 0;
    width: 100%;
    background-color: transparent;
    text-indent: .25rem
}

.bnz-input__input:focus {
    border-style: none
}

.bnz-input__input-full {
    margin-left: 0;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #6599D1;
    text-indent: .25rem
}