@media screen and (max-width: 786px) {
    .padding-0 {
    padding-top: 0px !important;
    }
    .wrapper-secleted-output {
        padding: 9px !important;
        font-size: 11px !important;
     
    }
    .blink_text {
        font-size: 12px !important;
    }
    .blink_text-Inner {
        font-size: 12px !important;
    }
    .display-1 {
        font-size: 12px !important;
    }
    .smallMain-Heading{
        font-size: 12px;
    }
    .main-padding{
        padding: 0px !important;
    }
    .h-700 {
        height: 420px !important;
    }
    .wrapper-secleted-output {
        top: 58% !important;
    }    
}
